body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Top Navigation Bar */
.top-navigation-bar {
    height: 100px;
}
.top-left-bar {
    position: absolute;
}

.top-left-bar ul {
    display: flex;
    flex-direction: row;
}

.top-left-bar ul li {
    padding: 10px;
  
}

.top-right-bar {
    position: absolute;
    top: 0px;
    right: 0px;
}

.top-right-bar ul {
    display: flex;
    flex-direction: row;
    
}

.top-right-bar ul li {
    padding: 10px;    
}

.profile-icon {
    height: 50px;
    width: auto;
}

/* Main Content */
main {
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    
}

main div {
    
    
   
    
}

.search-bar {
    
}

.search-input form label input{
    width: 265px;
}

.search-buttons {
    padding-top: 20px;
}

.search-buttons ul li {
    display: inline; 
}

.search-buttons ul li a {
    border-width: 1px;
    background-color: white;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

.logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  
}

/* Footer navigation */
footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

footer div{
    position: relative;
}
