body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Top Navigation Bar */
.top-navigation-bar {
    height: 100px;
}
.top-left-bar {
    position: absolute;
}

.top-left-bar ul {
    display: flex;
    flex-direction: row;
}

.top-left-bar ul li {
    padding: 10px;
  
}

.top-right-bar {
    position: absolute;
    top: 0px;
    right: 0px;
}

.top-right-bar ul {
    display: flex;
    flex-direction: row;
    
}

.top-right-bar ul li {
    padding: 10px;    
}

.profile-icon {
    height: 50px;
    width: auto;
}

/* Main Content */
main {
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    
}



.search-input {
    width: 265px;
    height: 35px;
    border: 1px 0px solid #000000;
}

.search-input form label input{
   width: auto;
   width: 265px;
   border-style: solid;
   border-radius: 5%;
    
}

.search-buttons {
    padding-top: 20px;
}

.search-buttons ul li {
    display: inline; 
}

.search-buttons ul li a {
    border-width: 1px;
    background-color: white;
    padding: 10px;
}

.search-buttons ul li a:hover{
    border-style: solid;
    border-color: #aaa;
    border-radius: 5%;
    
}

.logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  
}

/* Footer navigation */
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: 222;
}

footer div ul li a{
    color: gray;
}

footer div ul li a:hover{
    text-decoration: underline;
}

.bottom-left-bar {
    position: absolute;
}

.bottom-left-bar ul{
    display: flex;
    justify-content: flex-start;
    
    padding: 10px;
    
}

.bottom-left-bar ul li {
    padding: 0px 10px;
}



.bottom-right-bar ul{
   background-color: 222;
   display: flex;
   justify-content: flex-end;
   padding: 10px;
}

.bottom-right-bar ul li {
    padding: 0px 10px;
}
